* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
}

.wrapper {
    flex-direction: column;
    gap: 30px;
    background-color: pink;
    padding: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

input[type="text"]{
    padding: 10px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none;
    border: 2px dotted rgb(55, 55, 55);
}

.render-box {
    width: 100%;
    height: 250px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 90%;
    width: 90%;
}